header{
    background-image: url(/img/header_bg1.png);

}
.icon{
   background: url(img/header_bg2.png);
   width: 774px;
   float: right;
   height: 185px;
   min-height: 155px;
   max-height: 155px;
   background-repeat: no-repeat;
    
}
.logo{margin-top: 7px;
  margin-left: 413px;
}
    .mall{
        
    width: 22px;
    height: 15px;
    float: left;
    background: url(img/soc_icons.png) 0px 0px;
    }
   
    
    .whatt{
      background: url(img/soc_icons.png)46px 0px;
        float: left;
        width: 25px;
        height: 15px;
    }
    .face{
        background:   url(img/soc_icons.png)25px 0px;
        float: left;
        width: 25px;
        height: 15px;
    }
    .icon_a{margin-left: 38px;}
    .sus_bar{   

    }
    .susbar{float: right;
        width: 26px;
       
        margin-right: -183px;
        margin-top: 10px;
      }
    .button{
 
      float: right;
      
      margin-bottom: 42px;
      margin-top: 10px;
      margin-right: 410px;
    }
    .tmg{
      width: 107px;
      margin-top: 37px;
      margin-left: 241px;
    }